.hamburger:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.381);
}


.drawer-item {
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    transition: 350ms;
    background-color: rgba(0,0,0,0.7);
    margin: auto;
    width: 100%

}

.drawer-item:hover {
   background-color: #63356b;
   font-size: 1.4em;
   width: 50%;
   border-radius: 50px;
   border: 1px solid #353935;

}